body {
	background-image: url('img/circuit.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
}

button {
	background: lightblue;
	height: 80px;
	width: 150px;
	font-weight: bolder;
	font-size: 20px;
}

button:hover {
	background-color: aliceblue;
}

nav {
	position: absolute;
}

#mainbody {
	z-index: 2;
	height: 900px;
	width: 600px;
	background-color: darkslateblue ;
	margin: 0 auto;
}

#win {

	height: 500px;
	width: 1100px;
	font-size: 70px;
	padding:10px;
	position: absolute;
	top:150px;
	left: 425px;
	background-color: aliceblue ;
	border: black solid 2px;
	text-align: center;

}

#setting {
	height: 200px;
	width: 800px;
	top: 350px;
	left: 540px;
	text-align: center;
	font-size: 22px;
	background-color: aliceblue;
	border: black solid 2px;
	position: absolute;
}

#infoscreen {
	height: 500px;
	width: 1100px;
	font-size: 23px;
	padding:10px;
	position: absolute;
	left: 425px;
	background-color: aliceblue ;
	border: black solid 2px;
}

#checker {
	padding-right: 10px;
	height: 20px;
	width: 20px;
	background-color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}

#ch1_1, #ch2_1, #ch3_1, #ch4_1,
#ch1_2, #ch2_2, #ch3_2, #ch4_2,
#ch1_3, #ch2_3, #ch3_3, #ch4_3,
#ch1_4, #ch2_4, #ch3_4, #ch4_4,
#ch1_5, #ch2_5, #ch3_5, #ch4_5,
#ch1_6, #ch2_6, #ch3_6, #ch4_6,
#ch1_7, #ch2_7, #ch3_7, #ch4_7,
#ch1_8, #ch2_8, #ch3_8, #ch4_8,
#ch1_9, #ch2_9, #ch3_9, #ch4_9,
#ch1_10, #ch2_10, #ch3_10, #ch4_10,
#ch1_11, #ch2_11, #ch3_11, #ch4_11,
#ch1_12, #ch2_12, #ch3_12, #ch4_12 {
	border: solid black 2px;
	height: 6px;
	width: 6px;
	border-radius: 50%;
	background-color: purple;
	margin: 1 auto ;
}

#flex {
	z-index: 2;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	height: 80px;
	width: 450px;
	background-color: aliceblue;

}

#ms1, #ms2, #ms3, #ms4 {
	border: solid black 2px;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	background-color: white;
	margin: 6 auto;
}

#player {
	position: relative;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	height: 60px;
	width: 500px;
	flex-wrap: wrap;
	background-color: aliceblue;
}

#check{

	background-image: url('img/arrow.png');
	height: 60px;
	width:60px;
	bottom: 0px;
	right: 0px;
}

#check:hover {
	background-image: url(img/arrow2.png);
	

}

#player1, #player2, #player3, #player4, #player5, #player6, #player7, #player8 {
	border: solid black 2px;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin: 7 auto;
}

#try1, #try2, #try3, #try4, #try5, #try6, #try7, #try8, #try9, #try10,#try11, #try12 {
	margin: 20 auto;
	height: 40px;
	width: 400px;
	background-color: aliceblue;
	display: flex;
	flex-direction: row;
}

#ps1_1, #ps2_1, #ps3_1, #ps4_1,
#ps1_2, #ps2_2, #ps3_2, #ps4_2,
#ps1_3, #ps2_3, #ps3_3, #ps4_3,
#ps1_4, #ps2_4, #ps3_4, #ps4_4,
#ps1_5, #ps2_5, #ps3_5, #ps4_5,
#ps1_6, #ps2_6, #ps3_6, #ps4_6,
#ps1_7, #ps2_7, #ps3_7, #ps4_7,
#ps1_8, #ps2_8, #ps3_8, #ps4_8,
#ps1_9, #ps2_9, #ps3_9, #ps4_9,
#ps1_10, #ps2_10, #ps3_10, #ps4_10,
#ps1_11, #ps2_11, #ps3_11, #ps4_11, 
#ps1_12, #ps2_12, #ps3_12, #ps4_12{
	border: solid black 2px;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: none;
	margin: 4 auto;	
}


===============================

.dropbtn {
    background-color: blue;
    color: white;
    height: 60px;
    width: 120px;
    font-size: 16px;
    border: solid black 2px;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    display: inline-block;
    left: 1	0px;
    top: 10px;
}


.dropdown-content {
    color: white;
    display: none;
    position: absolute;
	width: 100%;
	height: 100%;
	
}


.dropdown-content a {
	background-color: black;
    color: white;
    padding: 15px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
	background-color: aliceblue;

}


.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown:hover .dropbtn {
    background-color: aliceblue;
    color: black;
}